{{extend 'layoutLojinha.html'}}
<script>
	$(document).ready(function(){
		$('#dataTable tr').addClass('no-select');
		$('#dataTable').on('dblclick','tr', function(e){
			var cod = this.children[0].textContent;
			$('#transitory').val(cod);
			ajax('buscarVenda',['transitory'],'ret');
		});

	    // $('#minhaTabela table').attr('id', 'dataTable').addClass('display');
	    $('#dataTable').DataTable({
	        "scrollX": true,
	        "order": [ 5, 'desc' ],
	        "language": {
	          "url": "{{=URL('static','js/tradutorTable.json')}}"
	        } 
	    });
	   
	    $('#dataTable tbody tr td:nth-child(4)').addClass('dest');


	       //============== DEL ITEM ===============
		$(".fechar").on('click',function(){
			var c = confirm("Tem certeza que deseja deletar a Venda?")
	      	if (c == true) {
		        // var i = $(this).parent().parent().index(); //pega posicao da row
		        var v = $(this).parent().parent()[0].children[0].textContent;//pega valor da celula 4 da row
		        console.log(v);
		        // $("#transitory").val(i+";"+v);//envia para o value do input
		        $("#transitory").val(v);//envia para o value do input
		        ajax('excluirVendaRegistrada',['transitory']);//chama funcao do python
		        $(location).attr('href',"historico?menu=caixa");//redireciona a pagina
	      	}else{
		        console.log("Registro mantido!")
		    };			
		});
	    
	})
</script>
<style>
	.no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	@media only print
	{
	  /*  body * { display: none !important; }
	    body:after { content: "Don't waste paper!"; }*/
	    .btPrint, #nav_home, .btVolt, .alert-dismissable, .footer, #socialdrawer {display:none !important;}
	    .logoP {display:block !important;}

	}
	#transitory, .btD {display:none;}
	.dest{color:#9E1818;}	
	#dataTable tbody tr:hover{
		cursor: pointer;
	}
</style>

<input type="text" id="transitory" name="transitory">
<div class="container" id="ret">
<br>
<table id="dataTable" class="table table-striped hover order-column" cellspacing="0" width="100%" >
<thead>
	<tr>
		<th>Codigo</th>
		<th>Tipo</th>
		<th>Valor pago</th>
		<th>Desconto</th>
		<th>Cliente</th>
		<th>Data Venda</th>
		<th></th>
	</tr> 
	<tbody>
		{{for venda in formListar:}}
			{{if venda.deletado == False:}}
				<tr>
					<td>{{=venda.codigoVenda}}</td>
					<td>{{=venda.tipoVenda}}</td>
					<td>{{="R$ %.2f"%float(venda.valorVenda)}}</td>
					<td>{{="R$ %.2f"%float(venda.valorDesconto)}}</td>
					<td>{{=venda.clienteEmail}}</td>
					<td>{{=venda.dataVenda}}</td>
					<td class="btDD"><a class="btn btn-default fechar btn-xs" href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
				
				</tr>
			{{pass}}
			
		{{pass}}	
		
	</tbody>
</thead>
</table>

</div>

