{{extend 'layoutLojinha.html'}}

<script>
	$(document).ready(function(){
            // $('#minhaTabela table').attr('id', 'dataTable').addClass('display');
            $('#dataTable').DataTable({
	            "scrollX": true,
	            "language": {
	              "url": "{{=URL('static','js/tradutorTable.json')}}"
	            } 
		    });
		    $('.fechar').on('click',function(){
		    	
		    		var td = $(this).parent().parent().parent().children()[0];
		    		var x = td.textContent;
		    		var c = confirm("Deseja mesmo apagar?");
		    		if (c == true) {
		    			//--
		    			$("input[name=cod]").val(x);
		    			ajax('deletar',['cod']); //chamar a funcao para apagar no banco
		    			// $(this).parent().parent().parent().hide(400) //esconder a 
		    			location.reload();
		    		}else{
		    			console.log("Nao apagado")
		    		};
		    })
	})

</script>
<style type="text/css">
/*	td#opcoes {width: 201px;}
	td#opcoes div{float: right;}
	td#opcoes div button{margin-right: 0px !important}
	.idS {display:none !important;}
*/	.JpositionA{float: right;}
	.JpositionA a{margin-right: 0px !important}
	#cod{display:none;}
	#imgMin{
	    width: 28px;
	    border: 1px #ccc solid;
	    border-radius: 3px;
	    padding: 2px;
	}
	#dataTable tbody tr th:first-child{
		padding: 5px 15px !important;
	}

</style>

<input type="text" id="cod" name="cod">
<div id="minhaTabela" class="container">

{{if auth.has_membership('admin'):}}
	<a class="btn btn-default" href="/lojinha/produtos/cadastrarProdutos?menu=produtos"><span class="glyphicon glyphicon-plus"></span> Novo Produto</a>
{{else:}}
	<a class="btn btn-default" disabled="disabled" href="#"><span class="glyphicon glyphicon-plus"></span> Novo produto</a>
{{pass}}


<hr>
<table id="dataTable" class="table table-striped hover" cellspacing="0" width="100%" >
<thead>
	<tr>
		<!-- <th>Foto</th> -->
		<th>Codigo da peça</th>
		<th>Nome do produto</th>
		<th>Preço</th>
		<th></th>
	</tr> 
	<tbody>
		{{for produto in formListar:}}
			<tr>	
				<td>{{=produto.produtos.codigo_produto}}</td>
				<td>{{=produto.produtos.nome_produto}}</td>
				<td>R${{= " %.2f"%float(produto.produtos.preco_produto_lojinha)}}</td>
				<td class="opcoes">{{=produto.campos_virtual.botoes}}</td>
			</tr>
		{{pass}}		
	</tbody>
</thead>
</table>
</div>