{{extend 'layoutLojinha.html'}}


	<h2>Cliente <small> ( dados de cadastro )</small></h2>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<ul class="list-group">
			  <li class="list-group-item"><strong>Cliente : </strong> {{=table[0].nome}}</li>
			  <li class="list-group-item"><strong>Cel.. :</strong> {{=table[0].celular}}</li>
			  <li class="list-group-item"><strong>E-mail :</strong> {{=table[0].email}}</li>
			  <li class="list-group-item"><strong>Criado em :</strong>{{=table[0].dataGravado}}</li>
			</ul>
			<nav>
			  <ul class="pager">
			    <li class="previous"><a href="{{=URL('clientes','listarClientes?menu=clientes')}}"><span aria-hidden="true">&larr;</span> voltar</a></li>
			    <!-- <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li> -->
			  </ul>
			</nav>
		</div>
		<div class="col-md-6" style="text-align:center">
		{{if table[0].foto_cliente:}}
			{{=IMG(_src=URL('default','download',args=table[0].foto_cliente),_class="img-rounded thumbnail",_width="310px")}}
	  	{{else:}}
			{{=IMG(_src=URL('static','images/notImage.png'),_width="200px")}}
	  	{{pass}}
		</div>
	</div>
  

